<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/style.css">
</head>
<body>
    <section class="Main-content">
        <div class="card-body cols-span-3">
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
            <a href="http://www.google.com">
                <div class="card" >
                    <img src="../resources/images/your-name.webp" alt="" class="card-img">
                    <div class="card-body">
                    Name of anime.
                    </div>
                </div>
            </a>
        </div>
        <div class="top-chart cols-span-3">
            <div class="most-read-list">
                <button class="btn">Most Read</button>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
            </div>
            <div class="new-trends-list">
                <button class="btn">New Trends</button>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                </a>
            </div>
            <div class="user-rated-list">
                <button class="btn">User Rated</button>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
                <a href="#">
                    <img src="../resources/images/your-name.webp" alt="">
                    <div >
                        <p class="Heading">Welcome</p>
                        <p>220k views</p>
                    </div>
                    
                </a>
            </div>
        </div>
        <div class="hot-anime row-span-2">
        </div>
    </section>
    <footer>
        <!-- Footer main -->
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">About</h2>
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Resources</h2>
                <ul>
                    <li><a href="#">Docs</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">eBooks</a></li>
                    <li><a href="#">Webinars</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Contact</h2>
                <ul>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Sales</a></li>
                    <li><a href="#">Advertise</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Stay Updated</h2>
                <p>Subscribe to our newsletter to get our latest news.</p>
                <form>
                    <input type="email" name="email" placeholder="Enter email address">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </section>

        <!-- Footer social -->
        <section class="ft-social">
            <ul class="ft-social-list">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-github"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </section>

        <!-- Footer legal -->
        <section class="ft-legal">
            <ul class="ft-legal-list">
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li>&copy; 2019 Copyright Nowrap Inc.</li>
            </ul>
        </section>
</footer>
</body>
</html>